<div class="shopping-cart-item" *ngIf="cartMenuItem">
  <div class="shopping-cart-item__snippet">
    <img
    width="150"
    height="150"
    [src]="cartMenuItem.image"
    alt="Product in the shopping cart"
    class="img">
  </div>
  <div class="shopping-cart-item__price">
    ({{ cartMenuItem.quantity }}) - {{ cartMenuItem.price | currency }}
  </div>

  <div class="shopping-cart-item__actions">
    <button mat-icon-button (click)="increaseQuantity.emit(cartMenuItem.id)">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-icon-button (click)="decreaseQuantity.emit(cartMenuItem.id)">
      <mat-icon>remove</mat-icon>
    </button>

    <button mat-icon-button (click)="removeItem.emit(cartMenuItem.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
