.shopping-cart-item{
  width: 12em;
  margin: .5em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);

  &__total{
    font-weight: 500;
    letter-spacing: 3px;
    font-size: .8em;
    text-transform: uppercase;
    color: #5e5e5e;
  }

  &__snippet{
    margin: 1em;
    .img{
      width: 3em;
      height: auto;
    }
  }

  &__price{
    background: #3f51b5;
    min-width: 100%;
    color: #fff;
    padding: 0.2em 0.5em;
    text-align: center;
    border-radius: 25px;
  }

  &__actions{
    margin-bottom: .8em;
    color: #5e5e5e;
  }


}
