.product-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  width: 18rem;
  height: 25em;
  padding: .6em;
  box-shadow: 0 0 5px 1px #a7a7a73d;

  &__img {
    display: flex;
    margin: auto;

    img {
      max-width: 100%;
      width: auto;
      height: 11em;
    }
  }

  &__header {
    font-weight: 500;
    color: var(--primary-color);
    padding: .8em .5em;

    &__rating {
      display: flex;
      align-items: flex-end;
    }
  }
  &__content {
    display: flex;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em .5em 0 .5em;

    &__price {
      p {
        margin-bottom: 0px;
        font-weight: 500;
        background-color: #3f51b5;
        color: #ffffff;
        padding: 4px 15px;
        border-radius: 25px;
      }
    }
    &__actions {
      display: flex;
      flex-direction: column;
      color: var(--primary-color);
    }
  }

}
