<div class="product-card">
  <mat-card-header class="product-card__header">
    <mat-card-title>{{product.title}}</mat-card-title>
    <div class="product-card__header__rating">
      <mat-icon>star_rate</mat-icon>
      <span>{{product.rating.rate}}({{product.rating.count}})</span>
    </div>
  </mat-card-header>
  <div class="product-card__img">
    <img mat-card-image
    width="221"
    height="293"
    [src]="product.image"
    alt="Image of product">
  </div>
  <mat-card-content class="product-card__content">
  </mat-card-content>
  <mat-card-actions class="product-card__bottom">
    <div class="product-card__bottom__price">
      <p>
        {{product.price | currency}}
      </p>
    </div>
    <div class="product-card__bottom__actions">
      <button mat-icon-button (click)="addToCart()">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </div>

  </mat-card-actions>
</div>
