.ecom-header {
  width: 100%;
  position: fixed;
  top: 0;
  &__toolbar {
    width: 100%;
    &__button {
      margin-left: auto;
    }
  }
}

.cart-menu {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__price {
      color: var(--primary-color);
      font-weight: 900;
    }
  }
}
