<div class="ecom-header">
  <mat-toolbar color="primary" class="ecom-header__toolbar">
    <span>Welcome to SoftOak's Store</span>
    <button
      class="ecom-header__toolbar__button"
      #menuTrigger="matMenuTrigger"
      [matMenuTriggerFor]="cartMenu"
      (click)="openMenu(menuTrigger)"
      mat-icon-button >
      <mat-icon [matBadge]="productsCount" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
  <mat-menu #cartMenu="matMenu" class="cart-menu">
    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
      <div class="cart-menu__content">
        <span>Subtotal</span>
        <span class="cart-menu__content__price">
          {{totalPrice | currency}}
        </span>
        <app-shopping-cart-item
          *ngFor="let item of cartItems"
          [cartMenuItem]="item"
          (increaseQuantity)="handleIncreaseQuantity($event)"
          (decreaseQuantity)="handleDecreaseQuantity($event)"
          (removeItem)="handleRemoveItem($event)"
          (click) = "$event.stopPropagation()"
        >
        </app-shopping-cart-item>
      </div>

    </ng-container>
    <ng-template #emptyCart>
      <button mat-menu-item disabled>No items in cart</button>
    </ng-template>
  </mat-menu>
</div>
