<div class="products-list" *ngIf='products$ | async as products'>
  <div class="products-list__content">
    <app-product-card *ngFor="let product of products" [product]="product" ></app-product-card>
  </div>
</div>
